<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-toggle dropdown" style="padding-right: 3%" refFilDropdow>
        <a data-toggle="dropdown" data-target=".navbar-main-collapse">
               Menu <i class="fa fa-bars"></i>
       </a>
        <ul class="dropdown-menu">
          <li>
            <a class="page-scroll" [routerLink]="['sobre']" [routerLinkActive]="['router-link-active']">Sobre</a>
          </li>
          <li>
            <a class="page-scroll" [routerLink]="['contato']" [routerLinkActive]="['router-link-active']">Contato</a>
          </li>
          <li *ngIf="!isAuth()">
            <a class="page-scroll" [routerLink]="['sigin']" [routerLinkActive]="['router-link-active']" style="cursor: pointer">Sign</a>
          </li>
          <li *ngIf="isAuth()">
            <a class="page-scroll" [routerLink]="['cadastro']" [routerLinkActive]="['router-link-active']" style="cursor: pointer">Cadastro</a>
          </li>
          <li *ngIf="isAuth()">
            <a class="page-scroll" (click)="onLogout()" style="cursor: pointer">Logout</a>
          </li>
        </ul>
      </div>

      <a class="navbar-brand page-scroll" [routerLink]="['home']" [routerLinkActive]="['router-link-active']">
        <i class="fa fa-play-circle"></i> <span class="light">Pensar</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li>
          <a class="page-scroll" [routerLink]="['sobre']" [routerLinkActive]="['router-link-active']">Sobre</a>
        </li>
        <li>
          <a class="page-scroll" [routerLink]="['contato']" [routerLinkActive]="['router-link-active']">Contato</a>
        </li>
        <li *ngIf="!isAuth()">
          <a class="page-scroll" [routerLink]="['sigin']" [routerLinkActive]="['router-link-active']" style="cursor: pointer">Sign</a>
        </li>
        <li *ngIf="isAuth()">
          <a class="page-scroll" [routerLink]="['cadastro']" [routerLinkActive]="['router-link-active']" style="cursor: pointer">Cadastro</a>
        </li>
        <li *ngIf="isAuth()">
          <a class="page-scroll" (click)="onLogout()" style="cursor: pointer">Logout</a>
        </li>
      </ul>
    </div>


    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>